name: Build .deeplink files

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
  repository_dispatch:
    types: [trigger-routing-build]
  workflow_dispatch:
    inputs:
      message:
        description: 'Release message'
        required: false
        type: string
        default: 'Updated geofiles'
      mode:
        description: 'Routing mode'
        required: false
        type: choice
        options:
          - add
          - onadd
        default: 'onadd'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          path: publish

      - name: Make deeplinks
        run: |
          cd publish
          for routing in ./*.json; do
            sed -i "s/LAST_UPDATED/${EPOCHSECONDS}/" "${routing}"
            echo -n "happ://routing/${{ env.ROUTING_MODE }}/$(base64 -w 0 "${routing}")" > "$(basename "${routing}" .json).deeplink"
          done
          echo "happ://routing/off" > "disable.deeplink"
        env:
          ROUTING_MODE: ${{ inputs.mode || 'onadd' }}

      - name: Release and upload assets
        run: |
          cd publish
          gh release create "${{ env.RELEASE_NAME }}" -t "${{ env.RELEASE_NAME }}" -n "${{ env.RELEASE_MSG }}" ./*.deeplink
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NAME: $(date +'%Y-%m-%d_%H-%M-%S')
          RELEASE_MSG: "${{
            inputs.message ||
            github.event.head_commit.message ||
            format('new geofiles release: {0}', github.event.client_payload.version) }}"
