name: Build .deeplink files

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**/README.md"
  repository_dispatch:
    types: [trigger-routing-build]
  workflow_dispatch:
    inputs:
      message:
        required: false
        type: string
        default: 'Updated geofiles'

permissions:
  contents: write

env:
  RELEASE_MSG: ${{ github.event.client_payload.commit_message || inputs.message }}

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout codebase
        uses: actions/checkout@v6
        with:
          path: publish

      - name: Make deeplinks
        run: |
          cd publish
          for routing in ./*.json; do
            sed -i "s/LAST_UPDATED/${EPOCHSECONDS}/" "${routing}"
            echo -n "happ://routing/onadd/$(base64 -w 0 "${routing}")" > "$(basename "${routing}" .json).deeplink"
          done

      - name: Release and upload assets
        run: |
          cd publish
          gh release create "${{ env.TAG_NAME }}" -t "${{ env.RELEASE_NAME }}" -n "${{ env.RELEASE_MSG }}" ./*.deeplink
        env:
          GH_TOKEN: ${{ github.token }}
          RELEASE_NAME: $(date +'%Y-%m-%d_%H-%M-%S')
          TAG_NAME: $(date +'%Y-%m-%d_%H-%M-%S')
